  .AboutPage {
    .MissionStatements,
    .CTA,
    .MapLocation {
        .container {
            @apply lg:max-w-[1200px] lg:mx-auto;
        }
    }

    .Hero {
        @apply min-h-[20dvh] flex items-center justify-center py-[2em] px-[2em] overflow-hidden;

        .container {
            @apply text-center;

            h1 {
                font-size: clamp(2.5em, 5vw, 4em);
                @apply font-extrabold mb-[0.5em] text-[var(--theme-bg)];
                background: linear-gradient(135deg, #1a237e, #5c6bc0);
                -webkit-background-clip: text;
                color: transparent;
            }

            p {
                @apply text-[1.2em] text-[#64748b] max-w-[600px] mx-auto;
            }
        }
    }

    .MissionStatements {
        @apply py-12;

        .container {
            @apply grid grid-cols-1 lg:[grid-template-columns:repeat(auto-fit,minmax(300px,1fr))] gap-8 p-[1em];

            .mission_statement {
                @apply space-y-4 bg-white py-[12px] px-[16px] rounded-lg;

                .icon {
                    @apply bg-[var(--theme-bg)] h-[60px] w-[60px] rounded-lg flex items-center justify-center p-[16px];

                    svg {
                        @apply fill-white h-full w-full;
                    }
                }

                h2 {
                    @apply text-[var(-theme-bg)] text-2xl font-bold;
                }
            }
        }
    }

    .CTA {
        .container {
            @apply space-y-4;

            p {
                @apply flex items-start gap-4;

                svg {
                    @apply stroke-[var(--theme-bg)];
                }
            }
        }
    }

    .MapLocation {
        background: linear-gradient(180deg, #f8fafc, #ffffff);
        @apply py-[4em] px-[2em];

        .container {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05),0 2px 4px rgba(0, 0, 0, 0.02);
            @apply relative rounded-[24px] overflow-hidden h-[70dvh];

            iframe {
                @apply absolute top-0 left-0 w-full h-full border-none;
            }
        }
    }
 }
