.ProductDetails {
    .details {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6;

        .images {
            .main_image {
                .image {
                    @apply h-[400px];

                    img {
                        @apply transition duration-300;
                    }
                }
            }

            .other_images {
                @apply flex gap-6 mt-4;

                .image {
                    @apply w-[100px] h-[100px] cursor-pointer overflow-hidden transition-transform hover:scale-105;

                    img {
                        @apply border-2 border-transparent transition duration-200;
                    }

                    img.active {
                        @apply border-blue-500;
                    }
                }
            }
        }

        .content {
            @apply md:p-2;

            .title {
                @apply text-[var(--theme-bg)] font-black text-2xl lg:text-3xl mb-2;
            }

            .product_price {
                @apply mt-2;

                .selling_price {
                    @apply text-xl lg:text-2xl;
                }
            }

            .actions {
                @apply flex items-center justify-start gap-4 mt-6;

                button {
                    @apply bg-[var(--theme-bg)] text-white font-semibold;
                }

                .action {
                    @apply mt-0;

                    a.btn {
                        @apply bg-transparent border border-[var(--theme-bg)] text-[var(--theme-bg)];
                    }
                }
            }

            .extras {
                @apply mt-6;

                p {
                    @apply grid grid-cols-12;

                    span {
                        &:first-of-type {
                            @apply col-span-2 text-gray-600;
                        }

                        &:last-of-type {
                            @apply col-span-8;
                        }
                    }
                }
            }
        }
    }

    .more_details {
        .description {
            strong {
                @apply text-[var(--theme-bg)];
            }

            p {
                @apply mb-1;
            }

            ul,
            ol {
                @apply mb-4;

                li {
                    @apply ml-4 mb-1;

                    .container {
                        @apply hidden;
                    }
                }
            }

            ul {
                li {
                    @apply list-disc;
                }
            }

            ol {
                li {
                    @apply list-decimal;
                }
            }
        }
    }
}

.ProductReviewsPage {
    @apply py-16 bg-blue-50;

    .container {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6;

        .product {
            @apply space-y-2 text-center bg-white shadow-lg rounded-lg py-4;

            h1 {
                @apply font-bold text-[var(--theme-bg)] text-2xl;
            }

            .image {
                @apply lg:w-[80%] h-[300px] lg:mx-auto;

                img {
                    @apply object-contain;
                }
            }
        }

        .custom_form {
            @apply bg-white shadow-lg rounded-lg py-4 px-8;

            form  {
                .rating {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: start;

                    &:hover {
                        input:checked~label:before {
                            opacity: 0.4
                        }
                    }

                    label {
                        position: relative;
                        width: 1em;
                        font-size: 30px;
                        font-weight: 300;
                        color: #ffd600;
                        cursor: pointer;

                        &::before {
                            content: "\2605";
                            position: absolute;
                            opacity: 0
                        }

                        &:hover:before,
                        &:hover~label:before {
                            opacity: 1 !important
                        }
                    }

                    input {
                        display: none;
                        &:checked~label:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.RelatedProducts {
    .container {
        .related_products_title {
            @apply font-bold text-2xl lg:text-3xl mb-4;
        }
    }
}

.CategorizedProductsPage {
    .Hero {
        .container {
            @apply text-center space-y-2;

            .breadcrumbs {
                @apply justify-center;
            }

            h1 {
                @apply font-bold text-2xl lg:text-4xl text-[var(--theme-bg)];
            }
        }
    }

    .Categories {
        .container {
            @apply flex flex-wrap lg:justify-center gap-4;

            a {
                @apply flex-none bg-white text-[var(--theme-bg)] px-[12px] py-[4px] rounded-[32px];
            }
        }
    }
}
