$aside_width_s: 20%;
$aside_width_l: 15%;

.Admin {
    aside {
        position: fixed;
        border-right: 1px solid grey;
        width: $aside_width_s;
        height: 100%;
        padding: 4px 8px;
        text-align: center;

        i {
            font-size: 1.5em;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .active {
            background: black;
            border-radius: 8px;
            a {
                color: #fff;
                padding: 2px 0;
            }
        }
    
        .branding h1,
        .footer .text {
            @include desktop_only;
        }

        .branding a,
        .footer .profile {
            img {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }

        .nav_links {
            margin: 0.8em 0 0;
    
            ul {
                list-style: none;
                li {
                    margin: 0 0 0.8em;
                    a {
                        display: flex;
                        flex-direction: column;
                        gap: 0.1em;
                        span {
                            font-size: 0.75em;
                        }
                    }

                    .fa-star {
                        color: unset;
                    }
                }
            }
        }
    
        .footer {
            position: absolute;
            bottom: 2em;
            width: 100%;
    
            .profile {
                margin: 0 0 1em;
                img {
                    border: 1px solid green;
                    padding: 2px;
                }
            }
    
            form {
                button {
                    background: none;
                    padding: unset;
                    i {
                        color: red;
                    }
                }
            }
        }
    }

    .admin_content {
        margin-left: calc($aside_width_s + 0.5em);
        
        .container {
            padding: 10px 15px;
            overflow: scroll;

            .related_pages_navbar {
                margin: 0 0 0.5em;

                a {
                    text-decoration: none;
                    background: #000;
                    color: #fff;
                    padding: 2px 8px;
                    border-radius: 0 8px 0 0;
                }
            }

            .header {
                margin: 0 0 0.5em;
                h1 {
                    font-size: 1.25em;

                    span {
                        font-size: 0.85em;
                        color: grey;
                    }
                }

                input {
                    border: 1px solid rgb(41, 41, 41);
                    border-radius: 32px;
                    padding: 4px 16px;
                }

                .header_btn {
                    margin: 0.5em 0;
                    a {
                        text-decoration: none;
                        background: #000;
                        color: #fff;
                        padding: 6px 12px;
                        border-radius: 4px;
                    }
                }
            }

            .body {
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;

                    thead {
                        background: #000;
                        color: #fff;
                        
                        th {
                            text-align: left;
                            padding: 6px 6px;
                            font-size: 0.9em;

                            &:last-of-type {
                                text-align: center;
                                border-radius: 0 8px 0 0;
                            }

                            &:first-of-type {
                                border-radius: 8px 0 0 0;
                            }
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 1px solid #d3d3d3;
                            &:nth-of-type(odd) {
                                background: #f7f7f7;
                            }

                            td {
                                padding: 6px 6px 6px 0;

                                span {
                                    background: #9fe9ff;
                                    border-radius: 32px;
                                    padding: 1px 6px;
                                    font-size: 0.65em;
                                    font-weight: bold;
                                }
                            }

                            .edit {
                                a {
                                    text-decoration: none;
                                    color: blue;
                                }
                            }

                            .actions {
                                display: flex;
                                justify-content: center;
                                gap: 0 2em;
    
                                .action {
                                    i {
                                        font-size: 1em;
                                        font-weight: bold;
                                    }
                                    .update {
                                        color: green;
                                    }
                                    .delete {
                                        color: red;
                                    }
    
                                    form {
                                        button {
                                            background: none;
                                            padding: 0;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Admin {
        aside {
            padding: 0.5em 0.8em;
            width: $aside_width_l;
            text-align: left;

            i {
                font-size: 1em;
            }

            .branding {
                display: flex;
                align-items: center;
                gap: 0.5em;

                h1 {
                    font-size: 1.2em;
                }
            }

            .nav_links {
                margin: 2em 0;
                ul {
                    li {
                        border-bottom: 1px solid rgb(204, 204, 204);
                        padding: 0 4px 4px;
                        a {
                            display: grid;
                            grid-template-columns: 25px auto;

                            span {
                                font-size: 1em;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .footer {
                left: 0;
                .profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.8em;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }

                .logout {
                    text-align: center;
                    form {
                        button {
                            background: red;
                            color: #fff;
                            border-radius: 6px;
                            padding: 8px 16px;
                            i {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .admin_content {
            margin-left: calc($aside_width_l + 0.5em);

            .container {
                overflow: hidden;

                .header {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    align-items: center;

                    .header_btn {
                        text-align: right;
                    }
                }
            }
        }
    }
}