.Cart {
    .container {
        .header {
            h1 {
                font-size: 1.4em;
                margin: 0 0 0.3em;
            }
        }

        .body {
            display: grid;
            gap: 2em;
            margin: 1.5em 0;

            ul {
                li {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1em;
                    padding: 0.8em 0;
                    border-bottom: 1px solid grey;

                    &:first-of-type {
                        border-top: 1px solid grey;
                    }

                    .title {
                        text-align: left;
                        a {
                            text-decoration: none;
                            color: #000;
                            font-weight: bold;
                        }
                    }

                    .price {
                        color: $price_color;
                        font-weight: bold;
                    }

                    form {
                        button {
                            cursor: pointer;
                            padding: unset;
                        }
                    }

                    .product_quantity {
                        form {
                            display: grid;
                            grid-template-columns: auto 20%;
                            gap: 0 0.4em;
                        }
                    }

                    .delete_from_cart {
                        form {
                            button {
                                background: unset;
                                border: none;
                                i {
                                    color: red;
                                    font-weight: bold;
                                    font-size: 1.25em;
                                }
                            }
                        }
                    }
                }
            }

            .summary {
                background: #f2f2f2;
                border-radius: 16px;
                padding: 0.5em 1em 1em;

                h1 {
                    font-size: 1.4em;
                    text-align: center;
                    margin: 0 0 1.5em;
                }

                p {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.5em;
                    margin: 0.5em 0;

                    span {
                        &:last-of-type {
                            text-align: right;
                            font-weight: bold;
                        }
                    }
                }

                .total {
                    margin: 2em 0 0;
                    font-weight: bold;
                    font-size: 1.2em;
                }

                .action {
                    margin: 2em 0 1.5em;
                    background: #000;
                    text-align: center;
                    border-radius: 8px;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 550;
                        display: block;
                        padding: 12px 16px;
                    }
                }
            }
        }
    }
}


@media screen and (width >= 726px) {
    .Cart {
        .container {
            .body {
                grid-template-columns: 70% auto;
                align-items: start;

                ul {
                    li {
                        grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
                        align-items: center;

                        span {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
